<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
		<title>{{ .Title }}</title>
		<style>
			body {
				font-family: "Quicksand", sans-serif;
				font-weight: 400;
				margin: 4em 10%;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="assets/demo.css">
		<script src="assets/demo.js"></script>
	</head>
	<body>
		<h1>{{ .Title }}</h1>

		<div>
			Browser base64 Session Description<br />
			<textarea id="localSessionDescription" readonly="true"></textarea> <br />
			
			Golang base64 Session Description<br />
			<textarea id="remoteSessionDescription"></textarea> <br/>
			<button onclick="window.startSession()"> Start Session </button><br />
			
			<br />
			Local Video<br />
			<video id="localVideo" poster="/assets/hourglass.jpeg"></video> <br />
			
			RemoteVideo<br />
			<video id="remoteVideo" poster="assets/hourglass.jpeg"></video> <br />
			
			Logs<br />
			<div id="logs"></div>
			
		</div>
	</body>
</html>
